
<footer>

	<div class="container-fluid">
		<div class="row">
			<p class="footer-icons">
				<a 	href="https://www.facebook.com/StudioJ3D/" 
					target="_blank'"
					class="footer-icon-style"
				>
					<i class="fab fa-facebook"></i>
				</a>
				<a 	href="https://www.instagram.com/studioj3d/" 
					target="_blank'" 
					class="footer-icon-style"
				>
					<i class="fab fa-instagram"></i>
				</a>
				<a 	href="https://www.behance.net/studioj3d" 
					target="_blank'" 
					class="footer-icon-style"
				>
					<i class="fab fa-behance"></i>
				</a>
			</p>
		</div>
		<div class="row">
			<p class="location-info">
				Niterói | Rio de Janeiro | Brasil
			</p>
		</div>
		<div class="row">
			<p class="copyright">
				© 2019 - STUDIO J3D
			</p>
		</div>
	</div>
	
</footer>

